.product_image {
  text-align: center;
  width: 100% !important;
  height: auto !important;
  border: 0;
}

.footer-button-left,
.footer-button-right {
	position: absolute;
	margin: 0;
	top: auto;
	bottom: 1em;
}
.footer-button-left {
	left: 0.4em;
}
.footer-button-right {
	right: 0.4em;
}
.ui-header .ui-title {
    white-space: normal;
}
ul li h2 {
    white-space: normal !important;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
